.FontSize__container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: center;

  * {
    font-family: var(--font);
  }
}

.FontSize__item {
  padding: .5rem 1rem;
  height: fit-content;
  width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent-1);
    color: var(--color-white);
  }
}

.FontSize__list {
  width: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.FontSize__dropdown {
  position: absolute;
  z-index: 100;
  background: var(--color-white);
  box-shadow: var(--shadow-1);
  border: var(--border);
  right: 0;
  top: 3.3rem;
}

.FontSize__title {
  font-size: 1.5rem;
  margin-inline-end: 1rem;
}

.FontSize__button {
  padding: .5rem 1rem;
  border: var(--border);
  cursor: pointer;
}
