.ErrorMessage__container {
  position: absolute;
  top: 0;
 left:0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  display: grid;
  place-items: center;
  padding: 2rem;
  background-color: #68686800;
  backdrop-filter: blur(1rem);
}

.ErrorMEssage__message {
  display: flex;
  flex-flow: column;

  > p {
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--color-info-1);
  }
}
