.ControlButton__button {
  /* background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; */
  display: grid;
  place-items: center;
  padding: 0.8rem;
  margin: 0.4rem;
  border-radius: 0.1rem;
  background-color: #4444449c;
}

.ControlButton__icon {
  height: 2.5rem;
  width: 2.5rem;
  stroke-width: 0.1rem;
  stroke: #fff;
}
