.container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  grid-area: toolbar;
  height: 100%;
  justify-content: flex-start;
  width: 100%;

  > * {
    margin-inline-start: 1.4rem;
  }

  > *:first-child {
    margin-inline-start: 0;
  }
}
