.container {
  grid-area: diagram;
  overflow: hidden;
  position: relative;

  & #svg-pan-zoom-controls {
    transform: translate(50%, 100%) scale(0.8);
  }

  [class*='react-transform-wrapper'] {
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  [aria-roledescription='error'] {
    display: none;
  }
}

.graph {
  height: 100%;
  position: relative;
  width: 100%;

  > #dmermaid {
    display: none;
  }

  > #mermaid {
    height: inherit;
    width: inherit;
  }
}

.plantuml {
 > svg {
    height: 100% !important;
    width: 100% !important;
  }
}
