.container {
  position: relative;
  grid-area: diagram;
  overflow: hidden;

  & #svg-pan-zoom-controls {
    transform: translate(50%, 100%) scale(0.8);
  }

  [class*='react-transform-wrapper'] {
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  [aria-roledescription='error'] {
    display: none;
  }
}

.graph {
  width: 100%;
  height: 100%;
  position: relative;

  > #dmermaid {
    display: none;
  }

  > #mermaid {
    height: inherit;
    widht: inherit;
    /* display: grid; */
    /* place-items: center; */
    /* position: relative; */
  }
}
