.Divider__container {
  display:grid;
  place-items: center;
  height: inherit;
  width: .3rem;
  padding-inline-end: .1rem;
}

.Divider__item {
  width: .1rem;
  height: 95%;
  border-right: var(--border)
}
