.SaveToUrl__container {
  * {
    font-family: var(--font);
  }
}

.SaveToUrl__button_icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-inline-end: 0.2rem;
  margin-block-start: 0.2rem;
}

.SaveToUrl__button {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  position: relative;
  width: fit-content;
  color: var(--color-text);
  border-bottom: 0.2rem solid transparent;
  transition: var(--transition-slow);

  &:hover:not(:disabled) {
    color: var(--color-info-1);
    border-bottom-color: var(--color-info-1);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-primary-2);
    stroke: var(--color-primary-2);
  }
}

.SaveToUrl__button_title {
  font-size: 1.5rem;
  font-weight: 600;
}
