.container {
  grid-area: header;
  display: flex;
  height: 5rem;
  width: inherit;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  user-select: none;
}

.row {
  display: flex;
  align-items: flex-end;
  font-family: Gruppo;
}
.graph {
  color: var(--color-accent-1);
}
.editor {
  font-weight: 600;
  margin-inline-end: .5rem;
}
.info {
  padding: 0.4rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  &:hover {
    fill: var(--color-accent-1);
  }
}

.github_button {
  cursor: pointer;
}

.github_icon {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  fill: var(--color-primary-3);

  &:hover {
    fill: var(--color-accent-1);
  }
}
