.button_icon {
  height: 2rem;
  width: 2rem;
  margin-inline-end: 0.4rem;
  margin-block-start: 0.2rem;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  position: relative;
  width: fit-content;
  color: var(--color-text);
  transition: var(--transition-slow);
  text-decoration: none;

  & p {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font);
  }

  &:hover:not(:disabled) {
    color: var(--color-info-1);
    border-bottom-color: var(--color-info-1);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-primary-2);
    stroke: var(--color-primary-2);
  }
}
