.EditorConfigPanel__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-secondary-4);
  width: 100%;
}

.EditorConfigPanel__row {
  display: flex;
  :is(div) + :is(div) {
    margin-inline-start: 1rem;
  }
}
